apiVersion: v1
kind: Namespace
metadata:
  name: homelab
  labels:
    name: homelab
---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
---
apiVersion: v1
kind: Namespace
metadata:
  name: storage
  labels:
    name: storage
